<h2>
    ng probe example
</h2>
<br />

<div>
    <p>
        ng.probe() is a useful tool for seeing the value of angular objects in real time;
    </p>
    <p>
        Below find specific examples of how to do it.
    </p>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    ng.probe()
                </h4>
                <p>
                    You can use the statement ng.probe($0) to get a debugger element and even a component instance.
                </p>
                <a class="btn btn-primary" href="https://drive.google.com/open?id=1XnkucMAVGfB8IcT82uBDy-An2KDaTEcT" target="_blank">
                    Go
                </a>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    Augury
                </h4>
                <p>
                    This chrome extension uses ng.probe() to build out a GUI of your app.
                </p>
                <a class="btn btn-primary" href="https://augury.rangle.io/" target="_blank">
                    Go
                </a>
            </div>
        </div>
    </div>
</div>
