<h2>
    chrome dev tools example
</h2>
<br />

<div>
    <p>
        Chrome dev tools (F12) can do step line debugging of your angular application right out of the box.
    </p>
    <p>
        Below find specific examples of how to do it.
    </p>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    debugger statement
                </h4>
                <p>
                    Just put a debugger statement in your code and if the dev tools are open when that line is executed, then it will stop on that line.
                </p>
                <button class="btn btn-primary" (click)="debuggerStatement()">
                    Go
                </button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    break points
                </h4>
                <p>
                    You can set breakpoints in the code using the same window you get when you have a debugger statement.
                </p>
                <a class="btn btn-primary" href="https://drive.google.com/open?id=1hauConJlSjCFKXlCYcSVPdaL3knytRs9" target="_blank">
                    Go
                </a>
            </div>
        </div>
    </div>
</div>
