<h2>
    console.log() example
</h2>
<br />

<div>
    <p>
        Using console.log() we can get the value of any statement printed out to
        the console which is seen in your dev tools (F12).
    </p>
    <p>
        A great first option for figuring out what is going on in your code.
    </p>
    <p>
        Below find a few guidelines that make working with them easier.
    </p>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    good labeling
                </h4>
                <p>
                    When there are many console.log() statements, it's best to
                    label them so that it isn't too confusing.
                </p>
                <button class="btn btn-primary" (click)="goodLabeling()">
                    Go
                </button>
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-6">
        <div class="card bg-light">
            <div class="card-body">
                <h4>
                    reference objects
                </h4>
                <p>
                    A console.log() of an object is evaluated when it is opened.
                    So if it changes after the log statement, that is the
                    version you will see in the console.
                </p>
                <button class="btn btn-primary" (click)="referenceObjects()">
                    Go
                </button>
            </div>
        </div>
    </div>
</div>
